
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/webscraping/FileContentIndex/10c2a344-f9a3-46e4-9e97-7980c6dd197f.vsidx
.vs/webscraping/FileContentIndex/read.lock
.vs/webscraping/v16/.suo
.vs/webscraping/FileContentIndex/2cf49182-bac1-4e16-933f-0c0d1b701ec4.vsidx
